<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style/settingStyle.css">
    <link rel="stylesheet" href="../../style/main.css">
</head>
<body>
    <div class="wrapper">
        <header>
            settings
        </header>

        <div class="settings-form">
            <div class="minecraft-resolution">
                width: <input type="text" placeholder="1920px">
                height: <input type="text" placeholder="1080px">
            </div>
            <div class="ram">
                ram: <!--ram counter--> <input type="range" min="4" max="16" title="a half of you total ram">
            </div>
            <div class="skin-change">
                skin: <input type="file">
            </div>
            div.
        </div>
    </div>
</body>
</html>